@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.container {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1rem;
    max-width: 800px;
}

.ques-container {
    width: 80%;
    text-align: left;
    margin: auto;
    border: 2px solid;
    border-color: rgb(135, 209, 209);
    margin-bottom: 0.5rem;
    padding: 2rem;
    border-radius: 0.5rem;
}

.options {
    display: inline;
    width: 40%;
    padding: 2rem;
}

nav {
    padding: 2rem;
    background-color: rgb(135, 209, 209);
    margin: 0rem;
    border-radius: 0.3rem;
    display: block;
}

.navbar {
    text-decoration: none;
    padding: 0.3rem;
    font-weight: bold;
}

.navbar:hover {
    text-decoration: underline;
}

.navbar-active{
    text-decoration: underline;
}

h1 {
    text-align: center;
    display: block;
    /* color: rgb(15, 168, 10); */
}

button {
    font-weight: bold;
    font-size: large;
    width: 50%;
    border: 2px solid;
    display: block;
    text-align: center;
    margin: 2.5rem auto auto auto;
    background-color: rgb(135, 209, 209);
    height: 3rem;
}

label {
    position: relative;
    text-align: left;
    /* margin-left: 25%; */
    display: block;
    padding: 1.5rem 0 0.2rem 0;
}

#output {
    padding-top: 1.5rem;
    font-weight: bold;
    font-size: large;
    text-align: center;
}